<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>page d'accueil</title>
	
</head>
<body>
     <div>
        <img src="../../../assets/img1.jpg">
     	<h1>PronoKids</h1>
     	<h2>pour les élèves de troisiéme année primaire</h2>
		<div>
			<h3><button routerLink="/bienvenue" style="color:black;margin-top:10px; margin-left: -10px;width: 32vh;height: 10vh;background-color: pink;border-radius:25px;">Commencer</button></h3>
		</div>
     	
     </div>
</body>
</html>