body, html {
    height: 617px;
    margin: 0;
    background-image:  url(../../../assets/img1.jpg);;
}
.header{
    height:50px;
}
.container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 100%;
}

.header {
    margin-bottom: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 640px; /* Adjust as needed */
    margin-bottom: 20px;
}

video {
    width: 100%;
    height: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    
    max-width: 800px; /* Adjust as needed */
    
}

.btn1,
.btn2 {
    flex: 1;
    width: 200px;
    margin:40px;
    height: 100px;
    border-radius:50px ;
    font-size: 2rem;/* Adjust as needed */
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:purple
}