<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>page des unités</title>
    
</head>
<body>
    <div class="container">
        <div class="header" style="margin-bottom:100px;margin-top:20px">
            <h1>Es-tu prêt à faire de l'exercice !  Oussama SSS</h1>
        </div>
        
        <div class="d-flex flex-column mb-3   ">
            <button type="button" class="btn btn-primary btn-block border rounded-pill w-100 p-3" (click)="selectedExercise = 1">Exercice 1</button>
            <button type="button" class="btn btn-info btn-block border rounded-pill w-100 p-3" (click)="selectedExercise = 2">Exercice 2</button>
            <button type="button" class="btn btn-danger btn-block border rounded-pill w-100 p-3" (click)="selectedExercise = 3">Exercice 3</button>
        </div>
    </div>
    
</body>
</html>
