<div class="container">
    <div class="header">
        <h1>Ma famille, mon amour!</h1>
    </div>
    
    <!-- Add the video container -->
    <div class="video-container">
        <video width="640" height="360" controls>
            <source src="your-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    
    <div class="buttons">
        <!-- Bind click event to toggleMots() method -->
        <button type="button" class="btn1" style="background-color: #FAA300;" (click)="toggleMots()">Les mots</button>
        <!-- Bind click event to toggleSyllabes() method -->
        <button type="button" class="btn2" style="background-color: #FAA300;" (click)="toggleSyllabes()">Les syllabes</button>
    </div>
    
    <!-- Show mots content if showMots is true -->
    <div *ngIf="showMots" class="content-container">
        <h2>Mots de l'unité</h2>
        <ul>
            <li *ngFor="let mot of words">{{ mot }}</li>
        </ul>
        <!-- Button to remove the div -->
        <button type="button" class="btn btn-danger" (click)="toggleMots()">Fermer</button>
    </div>
    
    <!-- Show syllabes content if showSyllabes is true -->
    <div *ngIf="showSyllabes" class="content-container">
        <h2>Syllabes de l'unité</h2>
        <ul>
            <li *ngFor="let syllabe of syllabes">{{ syllabe }}</li>
        </ul>
        <!-- Button to remove the div -->
        <button type="button" class="btn btn-danger" (click)="toggleSyllabes()">Fermer</button>
    </div>
</div>
